*{
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
    border: none;
}
html,body{
	width: 100%;
	height: 100%;
	background: #DCE2F3;
	font-family: "微软雅黑";
}
.bgbox{
    width: 800px;
	height: 100%;
	background: url(image/zuozi.png) no-repeat center bottom;
	margin:0 auto;
	position: relative;
	box-shadow: 0px 10px 20px #414141;
}
.bgbox .kepeidui{
	 width: 110px;
	 height: 45px;
     text-align: center;
     line-height: 40px;
     border-radius: 5px;
     background:url(image/xue.jpg)  -540px -10px;
     cursor: pointer;
     text-shadow:1px 1px 2px #952C34;
     position: absolute;
     left: 185px;
     top: 141px;
     z-index: 100;
}
.bgbox .kepeidui .font{
	margin-left: 0.5em;
	font-size:1.3em; 
	color: #D81F2C;
}
.bgbox .zongpeidui{
	 width: 110px;
	 height: 45px;
     text-align: center;
     line-height: 40px;
     border-radius: 5px;
     background:url(image/xue.jpg)  -545px -10px;
     cursor: pointer;
     text-shadow:1px 1px 2px #952C34;
     position: absolute;
     right: 60px;
     top: 141px;
     z-index: 100;
}
.bgbox .zongpeidui .font{
	margin-left: 0.2em;
	font-size:1.3em; 
	color: #D81F2C;
}
.bgbox .logo{
	width: 267px;
	height: 100px;
	background-image: url(image/logo.png);
	background-size: 100% 100%;
	opacity: 0.7;
	margin: 10px 20px;
}
.bgbox  .display{
	width: 304px;
	height: 60px;
	position: absolute;
	right: 60px;
    top:60px;
}
.bgbox  .display div{
	width: 140px;
	height: 40px;
	float: left;
  	background: white;
  	margin-bottom: 20px;
  	border-radius: 40px;
  	box-shadow: 1px 1px 10px 1px #575757 inset; 
  	line-height: 40px;	
  	text-align: center;
  	font-size: 16px;
     font-weight: 700;
     color: #6C6C67;
     text-shadow:1px 1px 2px #4D4636;
}
.bgbox  .display .score{
	float: left;

}
.bgbox  .display .time{
	float: right;
}
.bgbox  .display .font{
     color: #D81F2C;
}


.bgbox .meau{
	width: 120px;
	height: auto;
	position: absolute;
	left: 25px;
	top: 150px;
	/*border: 2px solid red;*/
	font-size: 20px;
	font-weight: 300;
	color:#8B521B;
	z-index: 1000;
}
.bgbox .meau li {
	width: 120px;
	height: 40px;
     margin-bottom: 20px;
     text-align: center;
     line-height: 40px;
     border-radius: 2px;
     background:url(image/xue.jpg)  -14px -234px;
     cursor: pointer;
     text-shadow:1px 1px 2px #952C34;
 }
 .bgbox .meau li:hover{
 	 background:url(image/xue.jpg)  -14px -324px;
 }
  .bgbox .meau .jieshao{
  	display: block;
  	width: 110px;  	
  	font-size: 12px;
  	color: #272822; 
  	background: white;
  	margin-bottom: 20px;
  	padding: 10px 5px;
  	border-radius: 10px;
  	box-shadow: 1px 1px 8px 8px #D1B795 inset;
  }
    .bgbox .meau .jieshao p:first-letter{
    	float: left;
    	font-size: 2em;
    	font-weight: 500;
    }
     .bgbox .meau .jieshao p{
     	clear:both;
     }


.zuozi{
	width: 600px;
	height: 450px;
	background-image: url(image/kuang.png);
	background-size: 100% 100%;
	position: absolute;
	left: 160px;
	bottom: 85px;
	z-index: 500;
}
.zuozi .tishi{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 320px;
	height: 185px;
	background: url(image/xue.jpg) -385px -105px;
	z-index: 10;
	border-radius: 10px;
	display: none;
	opacity: 0;
	transition:all 0.2s ease;
}
.zuozi .tishi .chahao{
	width: 40px;
	height: 40px;
	float:right;
	cursor: pointer;
}
.zuozi .tishi .queren{
	width: 130px;
	height: 40px;
	position: absolute;
	left: 100px;
	bottom: 10px;
	cursor: pointer;

}
.zuozi .tishi .title{
	width: 200px;
	height: 90px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 80px;
	color:#272822;
	font-size: 20px;
	font-weight: 300;
    line-height: 1.5em;
	text-align: center;
	text-indent: 2em;
}


.pai{
	width: 70px;
	height: 100px;
	position: absolute;
	left: 265px;
	top: 25px;
	opacity: 0;
	background-size: 100% 100%;
	cursor: pointer;
	box-shadow: 2px 2px 2px solid black;
}
.pai.chulie{
	opacity: 0;
}
.zuozi .move-left,.zuozi .move-right{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 330px;
	border-radius: 4px;
	cursor: pointer;
}
.zuozi .move-left{
    left: 260px;
    background: url(image/xue.jpg)  -335px -60px ;
}
.zuozi .move-left:hover{
    background: url(image/xue.jpg)  -300px -147px;
}
.zuozi .move-right{
    left: 305px;
    background: url(image/xue.jpg)  -335px -147px ;
}
.zuozi .move-right:hover{
    background: url(image/xue.jpg)  -300px -60px ;
}
